@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --background-header: #ffffffd0;
    --card-bg: #efedf5;
    --color: #333333;
    --contrast: #8667F2;
    --border: #ded9f2;
    --shadow: #d8e1e8;

    --red: #f25353;
    --green: #41cf7c;
    --yellow: #feb32b;

    --primary: #efc9c8b7;
    --secondary: #a88d8c;
}

body.dark {
    --background: #28147D;
    --background-header: #28147Dd0;
    --card-bg: #422ba9;
    --color: #ffffff;
    --contrast: #78CDF0;
    --border: #47378c;
    --shadow: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--color);
}

h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: var(--contrast);
    display: block;
}

button {
    background-color: var(--contrast) !important;
}

button a {
    color: white;
}

input {
    color: #333333;
}

@import './tools/animations.css';
@import './tools/layout.css';

@import './modules/header.css';
@import './modules/card.css';
@import './modules/alert.css';
@import './modules/modal.css';
@import './modules/popup.css';
@import './modules/input.css';
@import './modules/inputFile.css';
