.rounded {
    border-radius: 50%;
}
  
.shadow {
    box-shadow: 0 2px 20px var(--shadow);
}
  
.card {
    background: var(--card-bg);
    border: 1px solid var(--border);
    box-shadow: 0 2px 4px var(--shadow);
    border-radius: 3px;
    transition: 0.3s;
}
  
.card-big {
    background: var(--card-bg);
    border: 1px solid var(--border);
    box-shadow: 0 2px 20px var(--shadow);
    border-radius: 4px;
}
  
.card-hoverable:hover {
    border-color: var(--contrast);
    box-shadow: 0 3px 8px var(--shadow);
}
  
.card .icon {
    vertical-align: middle;
    transform: translateY(-2px);
}
  
/* Carte */
/* ============= */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
}
.card__body {
    padding: 8px;
}
.card__icons {
    display: flex;
    flex: none;
    align-items: center;
}
.card__description p {
    /* color: var(--color-light) */
}
.card__title {
    line-height: 1.3;
    font-size: 16px;
    font-weight: bold;
}
.card__icons > * + * {
    margin-left: 8px;
}
.card__icons img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: contain;
}
.card__footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    min-height: 36px;
    background: var(--card-bg-footer, var(--card-footer));
    padding: 0 var(--card-padding);
    font-size: .9rem;
}
.card__footer .card__progress {
    margin-top: 0;
}

.card__footer > * {
    /* color: var(--color-light); */
    white-space: nowrap;
    margin-right: 16px;
}


.card__footer > *:last-child {
    margin-right: 0;
    margin-left: auto;
}
.card__pills {
    position: absolute;
    display: flex;
    align-items: center;
    top: 16px;
    right: 16px;
}
.card__pills > * + * {
    margin-left: 8px;
}
.card a {
    position: relative;
    z-index: 3;
}
.card a:not([class^='btn']):not([class^='pill']):hover {
    color: var(--contrast);
}
.card__link {
    display: block;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2 !important;
    border: 1px solid transparent;
    transition: 0.3s;
    border-radius: 3px;
    cursor: pointer;
}
.card__link:hover {
    border: 1px solid var(--contrast);
}
.card__progress {
    opacity: 0;
    margin-top: auto;
    background: var(--border);
}
.card__progress span {
    width: calc(var(--progress, 0) * 100%);
    height: 3px;
    display: block;
    background: var(--contrast);
}
[style^='--progress'] .card__progress {
    opacity: 1!important;
}
  
/* Complété */
/* ============= */
.card.is-completed,
.is-completed .card{
    position: relative;
    box-shadow: 0 0 0 4px var(--contrast);
}
.card.is-completed::after,
.is-completed .card::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 4px;
  
    width: 17px;
    height: 13px;
    background: url(/images/check.svg);
}
.card.is-completed::before,
.is-completed .card::before {
    content: '';
    width: 0;
    height: 0;
  
    position: absolute;
    top: -1px;
    right: -1px;
    border-left: solid 48px transparent;
    border-top: solid 48px var(--contrast);
}