header {
    background-color: var(--background-header);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

header nav {
    border-bottom: 1px solid var(--border);
}

header .header-top {
    width: 100%;
    height: 30px;
    background-color: #8667F2;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    font-size: 14px;
}

header .separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0 0 5px 0;
}

header .menu-link {
    width: 100%;
    background-color: #8667F2 !important;
}

header .menu-link:hover {
    color: black;
}

header .height-dropdown-menu {
    margin-top: 40px;
    height: 500px !important;
}
