.modal-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    opacity: 1;
    transition: 0.3s;
    animation: modalIn .3s;
}

.modal-dialog.out {
    animation: modalOut .3s !important;
}

.modal-dialog[hidden],
.modal-dialog.out {
    opacity: 0;
    transform: scale(1.05);
    pointer-events: none;
}

.modal-box {
    position: relative;
    width: 75vw;
    max-width: 580px;
    background-color: var(--card-bg);
    border: solid 1px var(--border);
    padding: 2rem;
    border-radius: 8px;
}

.modal-box header {
    text-align: center;
    margin-bottom: 3rem;
    background-color: transparent;
    backdrop-filter: none;
    text-align: center;
}

.modal-box header img {
    max-width: 100px;
    margin: -100px auto 0;
}

.modal-close {
    width: 15px;
    height: 15px;
    background-color: transparent;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: none;
    cursor: pointer;
}

.modal-close .icon {
    width: 100%;
    height: 100%;
}

.modal-close:hover {
    color: var(--contrast);
}

@keyframes modalIn {
    0% {
        opacity: 0;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.05);
    }
}