.popup-dialog {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 999;

    opacity: 1;
    transition: 0.3s;
    animation: popupIn .3s;
}

.popup-dialog.out {
    animation: popupOut .3s !important;
}

.popup-dialog[hidden],
.popup-dialog.out {
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.popup-box {
    position: relative;
    max-width: 50vw;
    background-color: var(--card-bg);
    border: solid 1px var(--border);
    padding: 2rem;
    border-radius: 8px;
}

.popup-box header {
    text-align: center;
    margin-bottom: 3rem;
    background-color: transparent;
    backdrop-filter: none;
    text-align: center;
}

.popup-box header img {
    max-width: 100px;
    margin: -100px auto 0;
}

@keyframes popupIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popupOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}