:root {
    --container-padding: 20px;
    --container-width: calc(100vw - var(--container-padding) * 2);
}
  
@media only screen and (min-width: 900px) {
    :root {
        --container-padding: 32px;
    }
}
  
@media only screen and (min-width: 1370px) {
    :root {
        --container-padding: 20px;
        --container-width: 1330px;
    }
}

.relative {
    position: relative;
}
  
.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
  
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* overflow: hidden; */
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}
  
.container-narrow {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.inline {
    display: inline;
}

.flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}
  
.end {
    justify-content: flex-end;
}
  
.stretch {
    align-items: stretch;
}
  
.flex-start {
    justify-content: flex-start;
}
  
.flex-end {
    justify-content: flex-end;
}
  
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.inline-1 {
    display: flex;
}
  
.hidden {
    display: none;
}

.w100 {
    width: 100%;
}

.grid {
    width: 100%;
    display: grid !important;
    grid-gap: space(2);
    grid-template-columns: 1fr;
}

.grid2 {
    width: 100%;
    display: grid !important;
    --gap: 2;
    grid-gap: calc(var(--gap) * var(--space));
    grid-template-columns: 1fr 1fr;
}
  
.grid3 {
    width: 100%;
    display: grid !important;
    --gap: 2;
    grid-gap: calc(var(--gap) * var(--space));
    grid-template-columns: 1fr 1fr;
}
  
.grid.fit {
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
}
  
.grid .full,
.grid2 .full {
    grid-column: 1 / -1;
}
  
.grid .end {
    justify-content: flex-end;
}

.stack,
.stack-large,
.stack-separated {
    --gap: 2;
    display: grid !important;
    grid-template-columns: 1fr;
    align-content: flex-start;
    grid-gap: calc(var(--gap) * var(--space));
}
  
.stack-large {
    --gap: 4;
}
  
.stack-separated {
    --gap: 3;
    --gap-separated: var(--gap);
    grid-gap: calc(var(--gap) * var(--space) * 2);
}
  
.stack-separated > * + * {
    position: relative;
}
  
.stack-separated > * + *::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background: var(--border);
    top: calc(var(--gap-separated) * var(--space) * -1);
}
  
.hstack {
    display: flex;
    flex-wrap: wrap;
    --gap: 2;
    margin: calc(var(--gap) * var(--space) * -0.5);
    margin-bottom: calc(var(--gap) * var(--space) * -1);
    margin-top: 0;
}
  
.nowrap {
    flex-wrap: nowrap;
}
  
.hstack > * {
    margin-left: calc(var(--gap) * var(--space) * 0.5);
    margin-right: calc(var(--gap) * var(--space) * 0.5);
    margin-bottom: calc(var(--gap) * var(--space));
}
  
.hstack-large > * + * {
    margin-left: space(4);
}

.layout-sidebar {
    --gap: 5;
    display: grid;
    grid-gap: calc(var(--gap) * var(--space));
    grid-template-columns: 1fr;
}
  
.sticky {
    position: sticky;
    top: space(3);
}

.ma {
    margin: auto;
}

.mla {
    margin-left: auto;
}